<form class="mt-4" method="POST" action="/courses/handle-from-actions">
    <div class="d-flex align-items-center justify-content-between">
        <header>
            <h4>Deleted Courses</h4>
        </header>
        <div class="go-back">
            <a class="go-back__link" href="/me/stored/courses">
                <span class="oi oi-arrow-left"></span>
                Back to My Course
            </a>
        </div>
    </div>
    <div class="mt-4 mb-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Selected all
                </label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Choose action --</option>
                <option value="force-delete">Delete all</option>
                <option value="restore">Restore all</option>
            </select>

            <button class="btn btn-sm btn-primary check-all-submit-btn" disabled="disabled">Apply</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">
                    Course Name
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                    Course Level
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col">
                    Time Deleted
                    {{{sortable 'deletedAt' _sort}}}
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-primary btn-restore" data-id="{{this._id}}">Restore</a>
                        <a href="#" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-modal">Remove</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống !
                        <a href="/me/stored/courses">Danh sách khoá học.</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Delete Hidden Form --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

{{! Confirm Delete Course }}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you definitely want to force delete this course ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id='btn-delete-course' type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];

        var containerForm = $('form[name="container-form"]');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckBox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        // When dialog conform click
        $('#delete-course-modal').on('show.bs.modal', function (event) { 
            var button = $(event.relatedTarget); 
            courseId = button.data('id');
        })

        // When force delete course btn clicked
        $('#btn-delete-course').click(function() {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        })

        // When restore course btn clicked
        $('.btn-restore').click(function(e) {
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        })

        // Checkbox all clicked
        checkboxAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckBox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Course Item checkbox changed
        courseItemCheckBox.change(function() {
            var isCheckedAll = courseItemCheckBox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Re-Render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;

            if (checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }
    })

</script>